.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #FFF;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #CCCCCC;
  }
  
.footer_text {
    text-align: center;
  }
  