.places {
    width: 100%;
    padding: 12px;
}

.places h1 {
    font-size: 24px;
    text-align: left;
}

.place_items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.place {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.place h2 {
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.price_by_night {
    position: absolute;
    top: 0;
    right: 0;
    width: min-content;
    min-width: 45px;
    aspect-ratio: 1 / 1;
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 4px;
    color: #ff5a5f;
    border: 2px solid #ff5a5f;
    border-radius: 50%;
    font-size: 24px;
}

.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: 30px;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.max_guest span, .number_rooms span, .number_bathrooms span {
    width: 30px;
    height: 30px;
    display: block;
}

.max_guest span {
    background: url('../images/guest_icon.png') left center no-repeat;
    background-size: contain;
}

.number_rooms span {
    background: url('../images/icon_bed.png') left center no-repeat;
    background-size: contain;
}

.number_bathrooms span {
    background: url('../images/icon_bath.png') left center no-repeat;
    background-size: contain;
}

.user {
    margin: 12px 0;
}

.user span {
    font-weight: 700;
}

.place .amenities {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.place .amenities h2 {
    padding: 4px 0;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
}

.amenities_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 6px 0;
}

.amenities_list li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tv, .wifi, .pet_friendly {
    width: 12px;
    height: 12px;
    display: block;
}

.tv {
    background: url('../images/icon_tv.png') left center no-repeat;
    background-size: contain;
}
.wifi {
    background: url('../images/icon_wifi.png') left center no-repeat;
    background-size: contain;
}
.pet_friendly {
    background: url('../images/icon_pets.png') left center no-repeat;
    background-size: contain;
}

.reviews {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}

.reviews h2 {
    padding: 6px 0;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #dddddd;
}

.reviews_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 6px 0;
}

.reviews_list li h3 {
    font-size: 14px;
}

.reviews_list li p {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .places {
        padding: 16px;
    }
    
    .places h1 {
        font-size: 30px;
    }
    
    .place {
        gap: 12px;
        width: 390px;
        padding: 20px;
        margin: 20px;
    }
    
    .place h2 {
        font-size: 30px;
    }
    
    .price_by_night {
        min-width: 60px;
        margin: 12px;
        padding: 8px;
        font-size: 30px;
        border: 4px solid #ff5a5f;
    }
    
    .information {
        height: 80px;
        gap: 8px;
        margin-top: 50px;
    }
    
    .max_guest span, .number_rooms span, .number_bathrooms span {
        width: 40px;
        height: 40px;
    }
    
    .max_guest span {
        background: url('../images/guest_icon.png') left center no-repeat;
        background-size: contain;
    }
    
    .number_rooms span {
        background: url('../images/icon_bed.png') left center no-repeat;
        background-size: contain;
    }
    
    .number_bathrooms span {
        background: url('../images/icon_bath.png') left center no-repeat;
        background-size: contain;
    }
    
    .user {
        margin: 16px 0;
    }
    
    .user span {
        font-weight: 700;
    }
    
    .place .amenities {
        margin-top: 40px;
    }
    
    .place .amenities h2 {
        padding: 8px 0;
        font-size: 16px;
    }
    
    .amenities_list {
        gap: 12px;
        padding: 10px 0;
    }
    
    .amenities_list li {
        gap: 8px;
    }
    
    .tv, .wifi, .pet_friendly {
        width: 16px;
        height: 16px;
    }
    
    .tv {
        background: url('../images/icon_tv.png') left center no-repeat;
        background-size: contain;
    }
    .wifi {
        background: url('../images/icon_wifi.png') left center no-repeat;
        background-size: contain;
    }
    .pet_friendly {
        background: url('../images/icon_pets.png') left center no-repeat;
        background-size: contain;
    }
    
    .reviews {
        margin-top: 40px;
    }
    
    .reviews h2 {
        padding: 8px 0;
        font-size: 16px;
    }
    
    .reviews_list {
        gap: 12px;
        padding: 10px 0;
    }
}