.filters {
    background: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search_btn {
    font-size: 18px;
    background: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}

.search_btn:hover {
    opacity: 0.9;
}