<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <META charset="UTF-8" >
    <META name="viewport" content="width=device-width, initial-scale=1.0" >
    <TITLE>AirBnB clone</TITLE>
    <LINK
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon/apple-touch-icon.png"
    >
    <LINK
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon/favicon-32x32.png"
    >
    <LINK
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon/favicon-16x16.png"
    >
    <LINK rel="manifest" href="../static/images/favicon/site.webmanifest" >
    <LINK rel="stylesheet" href="../static/styles/4-common.css" >
    <LINK rel="stylesheet" href="../static/styles/6-filters.css" >
    <LINK rel="stylesheet" href="../static/styles/3-header.css" >
    <LINK rel="stylesheet" href="../static/styles/3-footer.css" >
  </HEAD>
  <BODY>
    <HEADER class="header">
      <DIV class="logo"></DIV>
    </HEADER>
    <DIV class="container">
      <SECTION class="filters">
        <DIV class="locations">
          <H3 class="title">states</H3>
          <H4 class="subtitle">&nbsp;</H4>
          <UL class="popover">
            {% for state in states|sort(attribute="name") %}
            <LI>
                <H2>{{ state.name }}:</H2>
                <UL>
                  {% for city in state.cities|sort(attribute="name") %}
                  <LI>
                    {{ city.name }}
                  </LI>
                  {% endfor %}
                </UL>
              </LI>
              {% endfor %}
          </UL>
        </DIV>
        <DIV class="amenities">
          <H3 class="title">amenities</H3>
          <H4 class="subtitle">&nbsp;</H4>
          <UL class="popover">
            {% for item in amenities|sort(attribute="name") %}
            <LI>{{ item.name }}</LI>
            {% endfor %}
          </UL>
        </DIV>
        <BUTTON class="search_btn">Search</BUTTON>
      </SECTION>
    </DIV>
    <FOOTER class="footer">
      <P class="footer_text">Best School</P>
    </FOOTER>
  </BODY>
</HTML>
